div.label {width:230px;height:64px;vertical-align:middle;}
body { background-color: #E7E7EC; }
img.label {float:right;padding:8px;margin-left:8px;}
p {font-size:12pt;}
h1 {padding-bottom:0px;margin-bottom:0px;}
td {text-align:left;}